{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid px-4">
    <h2 class="mt-2">Employee List 
        <a style="float:right" href="/dashboard/employee-add/" class="btn btn-success"> Add Employee </a>
    </h2>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }} </p>
            {% endfor %}
    </div>
    {% endif %}
    <form method="POST">{% csrf_token %}
        <div class="row"> 
            <div class="col-sm-3">
                <div class="form-group">
                    <label><strong>Department</strong></label>
                    <select name="department" class="form-control">
                        <option value="">Select Department</option>
                        {% for data in department %}
                            <option value="{{data.id}}" >{{data.department}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div> 
            <div class="col-sm-3">
                <div class="form-group">
                    <label><strong>Designation</strong></label>
                    <select name="designation" class="form-control">
                        <option value="">Select Department</option>
                        {% for data in designation %}
                            <option value="{{data.id}}">{{data.designation}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div> 
            <div class="col-sm-3">
                <div class="form-group">
                    <button style="margin-top: 23px;" type="submit" class="btn btn-success">Search</button>
                    <a href="/dashboard/ExportEmployee/" style="margin-top: 23px;" class="btn btn-primary">Export Excel</a>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-striped table-hover" style="margin-top: 20px;">
        <thead>
            <tr style="background-color: #c8c8c8;">
                <th style="width:25%">Employee Name</th>
                <th style="width:15%">Employee Id</th>
                <th style="width:13%">Designation</th>
                <th style="width:13%">Department</th>
                <th style="width:13%">Join Date</th>
                <th style="width:10%">Status</th>
                <th style="width:15%">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for data in employee_list %}
            <tr>
                <td>{{ data.first_name }} {{ data.last_name }}</td>
                <td>{{ data.employee_id }} </td>
                <td>{{ data.designation }} </td>
                <td>{{ data.department }} </td>
                <td>{{ data.joining_date }} </td>
                <td>{% if data.status == True %} Active {% else %} Inactive {% endif %} </td>
                <td>
                    <a href="/dashboard/employee/{{data.pk}}/updateEmployee/" style="font-size:13px;padding:4px 8px"
                        class="btn btn-warning">Edit</a>
                    <a href="/dashboard/employee/{{data.pk}}/deleteEmployee/" style="font-size:13px;padding:4px 8px"
                        class="btn btn-danger">Del</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end"> 
            {% if employee_list.has_previous %}
                <li class="page-item disabled">
                    <a class="page-link" href="?page={{ employee_list.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li> 
                {% if employee_list.number > 3 %}
                    <li class="page-item disabled"> <a class="page-link" href="?page=1">1</a> </li>
                    {% if employee_list.number > 4 %}
                        <span>...</span>
                    {% endif %}
                {% endif %}
            {% endif %}
 
            {% for num in employee_list.paginator.page_range %}
                {% if employee_list.number == num %} 
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > employee_list.number|add:'-3' and num < employee_list.number|add:'3' %} 
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
          
          
            {% if employee_list.has_next %}
                {% if employee_list.number < employee_list.paginator.num_pages|add:'-3' %}
                <span>...</span>
                <li class="page-item"> <a class="page-link" href="?page={{ employee_list.paginator.num_pages }}">{{ employee_list.paginator.num_pages }}</a> </li>
                {% elif employee_list.number < employee_list.paginator.num_pages|add:'-2' %} 
                <li class="page-item"> <a class="page-link" href="?page={{ employee_list.paginator.num_pages }}">{{ employee_list.paginator.num_pages }}</a> </li>
                {% endif %} 
                <li class="page-item"> <a class="page-link" href="?page={{ employee_list.next_page_number }}">Next</a> </li>
            {% endif %} 
        </ul>
      </nav>

      <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Monthly Attendance
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Employee Attendance Status
                </div>
                <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script>
    
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["Absent", "Late Present", "Leave", "Present"],
        datasets: [{
        data: [{% for data in atten_status %} {{ data.total_atten }}, {% endfor %}],
        backgroundColor: ['#dc3545', '#ffc107', '#432112', '#28a745'],
        }],
    },
    });
</script>


<script> 
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // Bar Chart Example
    var ctx = document.getElementById("myBarChart");
    var myLineChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for data in monthly_atten %} "{{data.month_name}}", {% endfor %}],
        datasets: [{
        label: "Revenue",
        backgroundColor: "rgba(2,117,216,1)",
        borderColor: "rgba(2,117,216,1)",
        data: [ {% for data in monthly_atten %} {{data.total_atten}}, {% endfor %}],
        }],
    },
    options: {
        scales: {
        xAxes: [{
            time: {
            unit: 'month'
            },
            gridLines: {
            display: false
            },
            ticks: {
            maxTicksLimit: 6
            }
        }],
        yAxes: [{
            ticks: {
            min: 0,
            max: 500,
            maxTicksLimit: 5
            },
            gridLines: {
            display: true
            }
        }],
        },
        legend: {
        display: false
        }
    }
    });

</script>

{% endblock %}